* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  background-color: rgb(84, 21, 84);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .logo_img {
  width: 90px;
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  header nav .logo_img {
    width: 150px;
  }
}
header nav .bar_img {
  width: 10%;
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  header nav .bar_img {
    display: none;
  }
}
header .nav {
  display: none;
  color: white;
  justify-content: center;
  margin-right: 10px;
  padding-left: 120px;
}
@media only screen and (min-width: 1280px) {
  header .nav {
    display: flex;
  }
}
header .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -64px 48px 0px;
}
header .nav__item {
  padding: 20px;
  font-weight: bold;
}
header .nav__item:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
header .nav__button {
  color: white;
  background-color: rgb(84, 21, 84);
  border-color: white;
  padding: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  border-width: 2px;
}
header .nav__button--inv {
  background-color: white;
  color: rgb(84, 21, 84);
}

.block1 {
  background-color: rgb(84, 21, 84);
}
.block1--color {
  background-color: rgb(244, 237, 228);
}
.block1--color2 {
  background-color: white;
}
.block1--inv {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 800px) {
  .block1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
}

.presentation {
  padding-bottom: 10px;
}
.presentation__text {
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.presentation__text--cont {
  color: rgb(236, 178, 46);
}
.presentation .google_img {
  width: 20px;
}
.presentation__desc {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}
.presentation__desc--opc {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .presentation__desc--opc {
    display: block;
    text-align: center;
    padding: 20px;
  }
}
.presentation .btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.presentation .btns__reg {
  padding: 20px 50px 20px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  background-color: rgb(66, 133, 244);
  position: relative;
  margin: 5px;
}
.presentation .btns__reg--mail {
  padding: 25px 50px 25px;
  color: black;
  background-color: white;
}
.presentation .btns__reg .google_img {
  position: absolute;
  width: 35px;
  right: 87%;
  bottom: 21%;
}

.trust-slack {
  background-color: rgb(244, 237, 228);
  padding: 30px;
}
.trust-slack h3 {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.trust-slack__imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
}
.trust-slack__imgs .trust-slack__airbnb {
  width: 35%;
  padding: 10px;
}
@media only screen and (min-width: 800px) {
  .trust-slack__imgs .trust-slack__airbnb {
    width: 10%;
  }
}
.trust-slack__imgs .trust-slack__nasa {
  width: 20%;
  padding: 10px;
}
@media only screen and (min-width: 800px) {
  .trust-slack__imgs .trust-slack__nasa {
    width: 10%;
  }
}
.trust-slack__imgs .trust-slack__uber {
  width: 25%;
  padding: 10px;
}
@media only screen and (min-width: 800px) {
  .trust-slack__imgs .trust-slack__uber {
    width: 10%;
  }
}
.trust-slack__imgs .trust-slack__york {
  width: 90%;
  padding: 10px;
}
@media only screen and (min-width: 800px) {
  .trust-slack__imgs .trust-slack__york {
    width: 30%;
  }
}
.trust-slack__imgs .trust-slack__york--etsy {
  width: 25%;
}
@media only screen and (min-width: 800px) {
  .trust-slack__imgs .trust-slack__york--etsy {
    width: 10%;
  }
}

.description {
  background-color: rgb(244, 237, 228);
}
.description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
}
.description__text .description__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 10px;
}
.description__text .description__title--desc {
  font-size: 17px;
}
.description__text .description__title--link {
  font-size: 17px;
  color: rgb(66, 133, 244);
}

.full-img {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .full-img {
    width: 35%;
  }
}

.sections-buttons {
  background-color: white;
  padding: 60px 20px 20px;
}
.sections-buttons--final {
  background-color: rgb(84, 21, 84);
  padding-bottom: 50px;
  border-radius: 0% 0% 30% 30%;
}
.sections-buttons__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.sections-buttons__text--desc {
  font-size: 18px;
}
.sections-buttons__text--final {
  color: white;
}
.sections-buttons__pack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.sections-buttons__pack .sections-buttons__know {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 10px;
  background-color: rgb(84, 21, 84);
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  border: solid;
  border-color: white;
}
.sections-buttons__pack .sections-buttons__know--talk {
  background-color: white;
  color: rgb(84, 21, 84);
}

.percentatges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.percentatges__number {
  color: rgb(84, 21, 84);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}
.percentatges__desc {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.texts {
  padding: 20px;
}
.texts__cita {
  font-style: italic;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.texts__name {
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.texts__pos {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}
.texts__see {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 60px;
  color: rgb(66, 133, 244);
}
.texts__anot {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
  color: grey;
  text-align: center;
}

.features {
  background-color: rgb(244, 237, 228);
  padding: 40px 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features__text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}
.features__card {
  background-color: white;
  width: 75%;
  padding-bottom: 10px;
  padding-top: 15px;
  position: relative;
}
.features__cardimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.features__cardfunc {
  margin-top: 10px;
  color: grey;
  font-size: 15px;
}
.features__carddesc {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.features__cardexam {
  margin-top: 30px;
  color: rgb(66, 133, 244);
  font-size: 15px;
}
.features .circles {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.features .circles .circle {
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(124, 124, 124);
}
.features .circles .circle--selected {
  background-color: rgb(84, 21, 84);
}

.whyslack {
  background-color: white;
}
.whyslack__img {
  margin-top: 60px;
  margin-left: 20px;
  width: 15%;
}
.whyslack__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
}

footer {
  background-color: white;
  padding-top: 20px;
}
footer .foot-text {
  padding: 15px;
  font-size: 15px;
}
footer .foot-text--link {
  color: rgb(66, 133, 244);
}
footer .foot_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .foot_imgs .foot_img {
  width: 8%;
  padding: 20px;
}
footer p {
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */