.apps1 {
    align-content: center;
    margin: auto;
    margin-bottom: 80px;
    width: 60%;

    &__title {
        font-size: 45px;
        text-align: center;
        margin-bottom: 15px;
    }
    &__desc {
        font-size: 18px;
        text-align: center;
        margin-bottom: 25px;
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 40px;
        
        .apps1__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &::after {
                content: "";
                width: 200px;
                height: 1px;
                background-color: gray;
                margin-top: 10px;
            }

            &--sel {
                &::after {
                    content: "";
                    height: 2px;
                }
            }

            .apps1__name {
                font-size: 20px;
            }
         }
    }
    &__img {
        align-self: center;
        padding-left: 150px;
        width: 70%;
    }
}

.anot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;

    &__text {
        font-size: 22px;
        &--blue {
            color: blue;
        }
    }
}

.text-images {
    margin-top: 100px;
    font-size: 55px;
    text-align: center;
    margin-bottom: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__apps {
        width: 70%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateX(-90px);
        margin-top: 60px;

        .images__one {
            width: 150%;
            transform: translateX(80px);
        }
        .images__desc {
            font-size: 20px;
            margin-bottom: 20px;
            transform: translateX(160px);
        }
        .images__link {
            transform: translateX(160px);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .images__link2 {
            color: blue;
            font-size: 15px;
        }
    }
}