.features {
    background-color: $beige;
    padding: 40px 10px 40px;
    @include flexCenter(column, space-between, center);

    &__text {
        text-align: center;
        font-family: $arial;
        padding-bottom: 10px;
    }
    &__cards {
        @include flexCenter(row, center, center);
        flex-wrap: nowrap;
    }
    &__card {
        background-color: $white;
        width: 50%;
        position: relative;
        padding: 15px 10px 10px;
        margin: 0px 10px 0px;

        &img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        &--occ {
            display: none;
            @include tablet {
                display: inline;
            }
        }
    }
    &__cardfunc {
        margin-top: 10px;
        color: $gray;
        font-size: 15px;
    }
    &__carddesc {
        margin-top: 10px;
        font-weight: bold;
        font-size: 25px;
    }
    &__cardexam {
        margin-top: 30px;
        color: $blue;
        font-size: 15px;
    }

    .circles {
        padding-top: 25px;
        @include flexCenter(row, space-between, center);

        .circle {
            width: 15px;
            height: 15px;
            margin: 10px;
            border-radius: 50%;
            background-color: $beige2;

            &--selected {
                background-color: $purple;
            }
        }
        @include tablet {
            display: none;
        }
    }
}