.whyslack {
    background-color: $white;

    &__img {
        margin-top: 60px;
        margin-left: 20px;
        width: 15%;
    }
    &__text {
        @include flexCenter(row, space-between, center);
        padding: 20px 20px 10px;
    }
}