footer {
    background-color: $white;
    padding-top: 20px;

    .foot_items {
        @include tablet {
            @include flexCenter(row, flex-start, flex-start);
            text-align: left;
        }
    }

    .foot-text {
        padding: 15px;
        font-size: 15px;

        &--link {
            color: $blue;
        }
    }

    .foot_imgs {
        @include flexCenter(row, space-between, center);
        @include tablet {
            @include flexCenter(row, flex-end, flex-end);
            text-align: right;
        }

        .foot_img {
            width: 8%;
            padding: 20px;
            @include tablet {
                padding: 5px;
                width: 2%;
            }
        }
    }

    p {
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 20px;
    }
}