.block1 {
    background-color: $purple;
    &--color {
        background-color: $beige;
    }
    &--color2 {
        background-color: $white;
    }
    &--inv {
        flex-direction: row-reverse;
    }
    @include tablet {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
}

.presentation {
    padding-bottom: 10px;

    &__text {
        color: $white;
        font-size: 45px;
        text-align: center;
        font-family: $arial;
        &--cont {
            color: $gold;
        }
    }   

    .google_img {
        width: 20px;
    }

    &__desc {
        color: $white;
        text-align: center;
        padding: 15px;
        font-size: 18px;

        &--opc {
            display: none;
            @include desktop {
                display: block;
                text-align: center;
                padding: 20px;
            }
        }
    }

    .btns {
        @include flexCenter(column, space-between, center);

        &__reg {
            padding: 20px 50px 20px;
            font-size: 15px;
            color: $white;
            font-weight: bold;
            background-color: $blue;
            position: relative;
            margin: 5px;
    
            &--mail {
                padding: 25px 50px 25px;
                color: $black;
                background-color: $white;
            }

            .google_img {
                position: absolute;
                width: 35px;
                right: 87%;
                bottom: 21%;
            }
        }

    }
    
}